.drag-container {
  position: relative;

  display: flex;

  flex-direction: row;

  justify-content: space-evenly;
  /* top: 10%;
  left: 0%; */
  /* transform: translate(-50%, -50%); */
}

.ship-container {
  /* margin: 80px; */
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
.random-button {
  transition: 0.2s;
  border: 1px #accbee solid;
  background-color: white;
  padding: 10px;
}
.random-button:hover {
  transition: 0.2s;
  background-color: #accbee;
}

.i2-ship {
  display: block;
  width: 80px;
  height: 40px;
  cursor: move;
}
.i3-ship {
  display: block;
  width: 120px;
  height: 40px;
  cursor: move;
  animation: rotateHelp 4s 2.5s 1;
}
.i4-ship {
  display: block;
  width: 160px;
  height: 40px;
  cursor: move;
  animation: dragHelp 1.5s 0.3s 1;
}

@keyframes dragHelp {
  0% {
  }
  100% {
    transform: translate(-100%, -500%);
  }
}

.i5-ship {
  display: block;
  width: 200px;
  height: 40px;
  cursor: move;
}

@keyframes rotateHelp {
  0%{
    transform: scale(1.1);
  }
  7% {
    transform: scale(0.7);
    background-color: rgba(3, 123, 235, 0.657);
  }
  14%{
    transform: scale(1);
    background-color: rgba(3, 123, 235, 0);
  }
  45% {    
    transform: rotate(90deg);
    background-color: rgba(3, 123, 235, 0);
  }
  60%{     
    transform: scale(1.1) rotate(90deg);
    background-color: rgba(3, 123, 235, 0);
  }
  67% {
    background-color: rgba(3, 123, 235, 0.657);
    transform: scale(0.7) rotate(90deg);
  }
  74%{
    background-color: rgba(3, 123, 235, 0);
    transform: scale(1) rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}
.ship-vertical {
  transition-duration: 0.3s;
  transform: rotate(90deg);
}
