:root {
  --cell-size: 40px;
  --field-size: 400px;
}

.field-grids {
  display: flex;
}
.grid-wrapper {
  flex: 50%;
  text-align: center;
}
.my-field-grid {
  display: inline-grid;
  width: var(--field-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--cell-size), 1fr));
  margin: 50px;
  /* margin-right: 300px; */
}

.enemy-field-grid {
  display: inline-grid;
  width: var(--field-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--cell-size), 1fr));
  margin: 50px;
  /* position: absolute; */
  /* top: 40%;
  left: 60%;
  transform: translate(-50%, -50%); */
}

.empty-cell {
  transition: 0.1s;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #a2c7f196;
  border: #8c8f5d83 1px solid;
}

.empty-cell-highlight {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #e49f51;
  border: black 1px solid;
}

.ship-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color:#e49f51;
  border: rgba(0, 0, 0, 0.431) 1px dotted;
}
.enemy-field-grid .enemy-empty-cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #a2c7f196;;
  border: rgba(0, 0, 0, 0.431) 1px dotted;
  transform-style: preserve-3d;
}

.enemy-empty-cell:hover {
  transition: 0.2s;
  background-color: #91b8e4;
  transform: scale(1.1);
  z-index: 2;
}

.hit-ship-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #923a3a;
  border: rgba(0, 0, 0, 0.37) 1px dotted;
  /* position: relative; */
  /* transform: translateZ(-10px); */
}

.hit-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: #437cb9;
  border: rgba(0, 0, 0, 0.383) 1px dotted;
}

.placed-ship {
  display: inline;
  position: relative;
  transform-origin: 0 0;
  transform: translateZ(-10px);
}

.ship-size2 {
  width: 80px;
  height: 40px;
}

.ship-size3 {
  width: 120px;
  height: 40px;
}

.ship-size4 {
  width: 160px;
  height: 40px;

  transform: translateZ(-10px);
}

.ship-size5 {
  width: 200px;
  height: 40px;
}
.placed-vertical {
  transform: rotate(90deg) translateY(-40px) translateZ(-10px);
  transform-origin: 0 0;
}
