:root {
  --cell-size: 40px;
  --field-size: 400px;
}

.my-field-grid {
  display: inline-grid;
  width: var(--field-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--cell-size), 1fr));
  margin: 50px;
}

.enemy-field-grid {
  display: inline-grid;
  width: var(--field-size);
  grid-template-columns: repeat(auto-fit, minmax(var(--cell-size), 1fr));
  margin: 50px;
}

.empty-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: aqua;
  border: black 1px solid;
}

.empty-cell-highlight {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(0, 122, 122);
  border: black 1px solid;
}

.empty-cell:target {
  transform: scale(1.1);
  background-color: rgb(0, 214, 214);
}

.ship-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(48, 172, 48);
  border: black 1px solid;
}

.hit-ship-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(255, 0, 0);
  border: rgb(0, 0, 0) 1px solid;
}

.hit-cell {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: rgb(60, 0, 255);
  border: rgb(0, 0, 0) 1px solid;
}
